[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/css-color"]
	path = vim/bundle/css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "vim/bundle/rust"]
	path = vim/bundle/rust
	url = git://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/factor"]
	path = vim/bundle/factor
	url = git://github.com/brandonbloom/vim-factor.git
[submodule "vim/bundle/elm"]
	path = vim/bundle/elm
	url = git://github.com/ElmCast/elm-vim.git
